<?xml version="1.0" encoding="utf-8"?>
<CodeSnippet Format="1.0.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<Header>
		<Title>Описание Exception</Title>
		<Shortcut>descException</Shortcut>
		<Description>Описание Exception для объекта языка</Description>
		<SnippetTypes>
			<SnippetType>Expansion</SnippetType>
		</SnippetTypes>
	</Header>
	<Snippet>
		<Code Language="CSharp">
			<![CDATA[/// <exception cref="System.ArgumentNullException">One of the arguments is null.</exception>]]>
		</Code>
	</Snippet>
</CodeSnippet>