<?xml version="1.0" encoding="utf-8"?>
<CodeSnippet Format="1.0.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<Header>
		<Title>Событиная Фабрика модуля</Title>
		<Shortcut>descEcsEventFactory</Shortcut>
		<Description>Описание фабрики событий модуля</Description>
		<SnippetTypes>
			<SnippetType>Expansion</SnippetType>
		</SnippetTypes>
	</Header>
	<Snippet>
		<Code Language="CSharp">
			<![CDATA[/// <summary>
			/// Ecs event factory {ModuleName}.
			/// </summary>]]>
		</Code>
	</Snippet>
</CodeSnippet>