<?xml version="1.0" encoding="utf-8"?>
<CodeSnippet Format="1.0.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<Header>
		<Title>Контейнер методов модуля</Title>
		<Shortcut>descEcsHelper</Shortcut>
		<Description>Описание помощника модуля</Description>
		<SnippetTypes>
			<SnippetType>Expansion</SnippetType>
		</SnippetTypes>
	</Header>
	<Snippet>
		<Code Language="CSharp">
			<![CDATA[/// <summary>
			/// Helper methods for {ModuleName}.
			/// </summary>]]>
		</Code>
	</Snippet>
</CodeSnippet>