<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Arrange Act Assert</Title>
      <Shortcut>aaa</Shortcut>
      <Description>Arrange / Act / Assert test sections</Description>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>

    <Snippet>
      <Code Language="csharp">
        <![CDATA[
        // arrange

        // act

        // assert
        ]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
